@{
    ViewData["Title"] = "Página Inicial";
}
<div class="BoxContainer">
    <div class="row justify-content-center align-items-center vh-100
font-weight-bold text-lg EditText">
        Reval
    </div>
</div>   